body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#board {
    border: 3px solid #333;
    display: inline-block;
}

.row {
    font-size: 0px
}

.column {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    vertical-align: top;
    font-size: 20px;
    line-height: 50px;
}

.column.hidden.bomb {
    background-color: #59aec7;
}

.column.hidden {
    background-color: #59aec7;
}

.column.hidden:hover {
    background-color: #eee;
}

.row:last-child .column {
    border-bottom: none;
}

.row .column:last-child {
    border-right: none;
}

.column.flag::before {
    content: '🚩';
    color: red;
    font-weight: bold;
    font-size: 20px;
}
/*
*
*
*
*
*/
h1 {
    color: blue;
    margin-bottom: .5em;
}

#buttonDiv.grid-9x9 {
    grid-template-columns: repeat(9, 40px);
    gap: 0;
}

br {
    display:none;
}

#buttonDiv.grid-16x16 {
    grid-template-columns: repeat(16, 30px); /* 16 columns, each 30px wide */
    gap: 0; /* Remove gap between buttons */
}

/* Style for 20x24 grid */
#buttonDiv.grid-20x24 {
    grid-template-columns: repeat(24, 20px); /* 24 columns, each 20px wide */
    gap: 0; /* Remove gap between buttons */
}

#buttonDiv {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(9, 40px);
    gap: 0;
}

#difficulty {
    margin-right: 10px;
    font-size: 25px;
}

#timer, #count {
    font-size: 25px;
}

button {
    width: 35px;
    height: 35px;
    border-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

